<section id="loginpage">
	<div class="container">
		<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-info">
				<div class="panel-heading">
			        <div class="panel-title"><b>{{title}}</b> <span ng-show="reason.length">&nbsp&nbsp({{reason}})</span></div>
			    </div>

				<section style="padding-top:30px" class="panel-body" ng-show="isRegister" ng-submit="submitRegister()" ng-cloak> <!-- TODO: should we add nonvalidate here so that html5 wont validate for us? -->
					<p>All fields are required</p>
					<form name="registerForm" class="form-horizontal" role="form">
						<p>
							<label for="fullname">Full Name: </label> 
							<input type="text" name="fullname" ng-model="fullName" required>
							<p ng-show="illegalCharsInName">Only a-z, A-Z may be used for name</p>
						</p>
						<p>
							<label for="username">User Name: </label> 
							<input type="text" name="username" ng-model="userName" ng-maxlength="20" required>
							<p ng-show="registerForm.username.$invalid && registerForm.username.$dirty && registerForm.username.$error.maxlength">field should be up to 20 characters</p>
							<p ng-show="illegalCharsInUsername">Only characters (a-z, A-Z), digits (0-9), and underscore (_) allowed</p>
							<p ng-show="userNameAlreadyExists">Username exists. Choose a different one</p>
						</p>
						<p>
							<label for="password">Password: </label> 
							<input type="password" name="password" ng-model="password" required>
						</p>
						<p>
							<label for="verifypass">Verify Password: </label> 
							<input type="password" name="verifypass" ng-model="verify" required>
							<p ng-show="passwordMismatch">No match in password</p>
						</p>

						<button type="submit" name="submit">Register</button>
					</form>
					<p>Already Registered? <a href="#/login">Login</a></p>
				</section>

				<section style="padding-top:30px" class="panel-body" ng-show="!isRegister" ng-submit="submitLogin()" ng-cloak>
					<form name="loginForm" class="form-horizontal" role="form">
						<div style="margin-bottom: 25px" class="input-group">
			                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			                <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Username" ng-model="userName" ng-maxlength="20" required>
			            </div>
			            <p ng-show="loginForm.username.$invalid && loginForm.username.$dirty && loginForm.username.$error.maxlength">field should be up to 20 characters</p>
							<p ng-show="illegalCharsInUsername">Only characters (a-z, A-Z), digits (0-9), and underscore (_) allowed</p>
						<div style="margin-bottom: 25px" class="input-group">
			                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			                <input id="login-password" type="password" class="form-control" name="password" placeholder="Password" ng-model="password" required>
			            </div>
						<p ng-show="passwordMismatch">Username or Password are incorrect</p>
						<div style="margin-top:10px" class="form-group">
			                <div class="col-sm-12 controls">
			                  <button id="btn-login" href="#" type="submit" class="btn btn-success">Login</button>
			                </div>
			            </div>
			            <div class="form-group">
                            <div class="col-md-12 control">
                                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                    Don't have an account! 
                                <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                    Sign Up Here
                                </a>
                                </div>
                            </div>
                        </div>    
					</form>
					<!-- <p>Not registered? <a href="#/register">Register</a></p> -->
				</section>
			</div>
		</div>

		<div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign Up</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
                </div>  
                <div class="panel-body" >
                    <form id="signupform" class="form-horizontal" role="form">
                        
                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>
                          
                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="email" placeholder="Email Address">
                            </div>
                        </div>
                            
                        <div class="form-group">
                            <label for="firstname" class="col-md-3 control-label">First Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="firstname" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-md-3 control-label">Last Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" name="passwd" placeholder="Password">
                            </div>
                        </div>
                            
                        <div class="form-group">
                            <label for="icode" class="col-md-3 control-label">Invitation Code</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="icode" placeholder="">
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- Button -->                                        
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                                <span style="margin-left:8px;">or</span>  
                            </div>
                        </div>
                    </form>
                 </div>
            </div>
        </div>
	</div>
</section>